.row-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    margin: 10px auto;
    padding: 10px auto;
    color: #efefe1
}

small {
    font-style:italic;
    font-size:smaller;
}

bold {
    font-weight:bold;
}

.row-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    margin: 0px auto;
    padding: 10px 0px 50px 0px;
    min-height: 100px;
    color: #efefe1

}

.card-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

.row-content-border {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    margin: 0px auto;
    padding: 10px 0px 50px 0px;
    min-height: 100px;
    border-bottom: 1px ridge;
}

.row-align {
    text-align: justify;
    text-justify: auto;
    margin-bottom: 20px;
}
.footer {
    background-color: #e02c2cbf;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

}
.modal-header {
    background: #D22f2c;
    color: floralwhite;
}
.modal-body {
    background-color: #FFDB6C;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background:  #F2C537;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f
}

.body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.logintext span {
    color: floralwhite;
    cursor: pointer;

}
.navbar-dark {
    background-color: #D22f2c;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.fade   {
    transition:opacity .15s linear
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.loginModal {
    visibility:hidden;
}
    

.loginModal.active{
    visibility:visible;
}

.card-body {
    background-color: #FFDB6C;
}

.body-color {
    background-color: #FFDB6C;
}