/*******************
  Utility Classes
*******************/
.hide {
  display: none !important;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center,
.center-align {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.no-select,
input[type=range],
input[type=range] + .thumb {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-padding {
  padding: 0 !important;
}
span.badge {
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  color: #757575;
  float: right;
  box-sizing: border-box;
}
span.badge.new {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}
span.badge.new:after {
  content: " new";
}
span.badge[data-badge-caption]::after {
  content: " " attr(data-badge-caption);
}
nav ul a span.badge {
  display: inline-block;
  float: none;
  margin-left: 4px;
  line-height: 22px;
  height: 22px;
  -webkit-font-smoothing: auto;
}
.collection-item span.badge {
  margin-top: calc(0.75rem - 11px);
}
.collapsible span.badge {
  margin-left: auto;
}
.sidenav span.badge {
  margin-top: calc(24px - 11px);
}
table span.badge {
  display: inline-block;
  float: none;
  margin-left: auto;
}
/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
.col .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section.no-pad {
  padding: 0;
}
.section.no-pad-bot {
  padding-bottom: 0;
}
.section.no-pad-top {
  padding-top: 0;
}
nav {
  color: #fff;
  background-color: #ba68c8;
  width: 100%;
  height: 56px;
  line-height: 56px;
}
nav.nav-extended {
  height: auto;
}
nav.nav-extended .nav-wrapper {
  min-height: 56px;
  height: auto;
}
nav.nav-extended .nav-content {
  position: relative;
  line-height: normal;
}
nav a {
  color: #fff;
}
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
}
@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: none;
  }
}
nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}
nav .sidenav-trigger i {
  height: 56px;
  line-height: 56px;
}
nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
nav .brand-logo.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  nav .brand-logo.left,
  nav .brand-logo.right {
    padding: 0;
    -webkit-transform: none;
    transform: none;
  }
  nav .brand-logo.left {
    left: 0.5rem;
  }
  nav .brand-logo.right {
    right: 0.5rem;
    left: auto;
  }
}
nav .brand-logo.right {
  right: 0.5rem;
  padding: 0;
}
nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}
nav .nav-title {
  display: inline-block;
  font-size: 32px;
  padding: 28px 0;
}
nav ul {
  margin: 0;
}
nav ul li {
  transition: background-color 0.3s;
  float: left;
  padding: 0;
}
nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}
nav ul a {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
nav ul a.btn,
nav ul a.btn-large,
nav ul a.btn-small,
nav ul a.btn-large,
nav ul a.btn-flat,
nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
nav ul a.btn > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-small > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
nav ul.left {
  float: left;
}
nav form {
  height: 100%;
}
nav .input-field {
  margin: 0;
  height: 100%;
}
nav .input-field input {
  height: 100%;
  font-size: 1.2rem;
  border: none;
  padding-left: 2rem;
}
nav .input-field input:focus,
nav .input-field input[type=text]:valid,
nav .input-field input[type=password]:valid,
nav .input-field input[type=email]:valid,
nav .input-field input[type=url]:valid,
nav .input-field input[type=date]:valid {
  border: none;
  box-shadow: none;
}
nav .input-field label {
  top: 0;
  left: 0;
}
nav .input-field label i {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
}
nav .input-field label.active i {
  color: #fff;
}
.navbar-fixed {
  position: relative;
  height: 56px;
  z-index: 997;
}
.navbar-fixed nav {
  position: fixed;
}
@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 64px;
  }
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
  .navbar-fixed {
    height: 64px;
  }
}
a {
  text-decoration: none;
}
html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}
h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.37333333rem 0 1.424rem 0;
}
h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.94666667rem 0 1.168rem 0;
}
h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}
h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.09333333rem 0 0.656rem 0;
}
h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.76666667rem 0 0.46rem 0;
}
.scale-transition {
  transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
  transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
  transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63), -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
}
.scale-transition.scale-out {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 0.2s !important;
  transition: transform 0.2s !important;
  transition: transform 0.2s, -webkit-transform 0.2s !important;
}
.scale-transition.scale-in {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.card-panel {
  transition: box-shadow 0.25s;
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
}
.card .card-title {
  font-size: 24px;
  font-weight: 300;
}
.card .card-title.activator {
  cursor: pointer;
}
.card.small,
.card.medium,
.card.large {
  position: relative;
}
.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}
.card.small .card-image + .card-content,
.card.medium .card-image + .card-content,
.card.large .card-image + .card-content {
  max-height: 40%;
}
.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
  max-height: 100%;
  overflow: hidden;
}
.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.card.small {
  height: 300px;
}
.card.medium {
  height: 400px;
}
.card.large {
  height: 500px;
}
.card.horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card.horizontal.small .card-image,
.card.horizontal.medium .card-image,
.card.horizontal.large .card-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}
.card.horizontal.small .card-image img,
.card.horizontal.medium .card-image img,
.card.horizontal.large .card-image img {
  height: 100%;
}
.card.horizontal .card-image {
  max-width: 50%;
}
.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}
.card.horizontal .card-stacked {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.card.horizontal .card-stacked .card-content {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.card.sticky-action .card-action {
  z-index: 2;
}
.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}
.card .card-image {
  position: relative;
}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}
.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}
.card .card-content p {
  margin: 0;
}
.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}
.card .card-content .card-title i {
  line-height: 32px;
}
.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}
.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}
.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}
.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}
/******************
   *     NAVBAR     *
   ******************/
nav {
  position: relative;
  top: 0;
  transition: background-color 0.3s, opacity 0.2s, visibility 0s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}
nav.fadeOut {
  transition: background-color 0.3s, opacity 0.2s, visibility 0s 0.2s;
  opacity: 0;
  visibility: hidden;
}
nav.nav-full-header {
  height: 100%;
}
nav.nav-full-header .nav-header {
  height: calc(100% - 128px);
}
nav.nav-full-header ~ .nav-categories {
  top: -64px;
}
nav .nav-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
nav .nav-background img,
nav .nav-background .pattern {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  transition: opacity 0.7s;
}
nav .nav-background img.active,
nav .nav-background .pattern.active {
  opacity: 1;
}
nav .nav-background .pattern {
  top: 0;
  bottom: 0;
  -webkit-transform: none;
  transform: none;
  background-repeat: repeat;
}
nav .nav-background .full-width {
  min-width: 100%;
}
nav .nav-header {
  word-wrap: break-word;
  clear: both;
  padding: 40px 0;
}
nav .nav-header h1 {
  font-size: 56px;
}
nav .nav-header .tagline {
  display: block;
  margin: -40px 0 40px 0;
  color: rgba(255, 255, 255, 0.8);
}
nav .categories-wrapper {
  height: 64px;
}
nav .categories-wrapper .categories-container {
  white-space: nowrap;
  overflow: auto;
}
nav .categories-wrapper .categories-container.pinned {
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
nav .categories-wrapper .categories-container .categories > li {
  float: none;
  display: inline-block;
}
#placeholder-navbar {
  position: fixed;
  top: 0;
  z-index: 3;
}
#placeholder-navbar .back-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#placeholder-navbar .back-btn i {
  float: left;
  margin-right: 10px;
}
#placeholder-navbar .back-btn span {
  float: left;
  line-height: 64px;
}
#placeholder-overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
}
#placeholder-overlay.visible {
  opacity: 1;
}
#placeholder-overlay:hover {
  opacity: 0.9;
  transition: opacity 0.6s;
}
/*********************************
   *    COMPONENT COMPATIBILITY    *
   *********************************/
.gallery-body .carousel-wrapper {
  margin: 30px 0 20px -35px;
  width: calc(100% + 70px);
}
.gallery-body .carousel-wrapper .carousel {
  height: 200px;
}
.gallery-body .carousel-wrapper .carousel-item {
  opacity: 1 !important;
  width: 300px;
  height: 200px;
}
.nav-header .carousel {
  height: 100%;
}
.nav-header .carousel .carousel-item {
  word-break: break-word;
}
.nav-header .carousel .indicators {
  height: 56px;
}
.nav-header .carousel .indicators .indicator-item {
  float: none;
}
@media only screen and (max-width: 992px) {
  .gallery .gallery-cover.static {
    margin: 0;
  }
  .gallery .gallery-body {
    width: 100%;
    margin: 0;
  }
  .gallery .gallery-action {
    right: 0;
  }
  .gallery-body .carousel-wrapper {
    margin: 30px 0 20px -15px;
    width: calc(100% + 30px);
  }
}
@media only screen and (max-width: 600px) {
  nav.nav-full-header .nav-header {
    height: calc(100% - 112px);
  }
  nav.nav-full-header ~ .nav-categories {
    top: -56px;
  }
  nav .categories-wrapper {
    height: 56px;
  }
  nav .nav-header h1 {
    font-size: 40px;
  }
  .gallery .gallery-expand.active .gallery-curve-wrapper {
    padding-top: 56px;
  }
}
body {
  background-color: #f4f4f4;
}
.section {
  padding: 1.5rem 0;
}
/******************
   *     NAVBAR     *
   ******************/
nav ul:not(.indicators) li.active {
  position: relative;
  background-color: transparent;
}
nav ul:not(.indicators) li.active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff;
}
nav .nav-background {
  opacity: 0.1;
}
nav .nav-background img,
nav .nav-background .pattern {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
nav .nav-header h1 {
  font-weight: 600;
}
nav .categories-wrapper {
  background-color: inherit;
}
nav .categories-wrapper .categories-container {
  background-color: inherit;
}
/*Sets the background and style for footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #333;
  color: #fff;
  font-weight: 400;
}
footer p {
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-media a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}
.social-media a:hover {
  color: #f00;
}

